body {
  margin: 0;
  background-image: url(../images/indexPic.jpg);
  background-size: cover;
  background-color: rgba(68, 82, 127, .9);
}

#App {
  display: flex;
  flex-direction: column; 
  align-items: center;  
}

.App-title {
  color: rgb(255, 255, 255)
}

